{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content %}

 <div class="jumbotron">
    <h1 class="display-4">ADMINISTRATION</h1> 
   <p class='lead'>Bienvenue sur la pannel administration</p>
 
 </div>



{% endblock %}
