.banner_simple {
  background-color: #fdebd2;
  color: #222;
  min-height: 250px;
}

.banner_simple_vert {
  background-color: #d4e9d7;
  color: #222;
  min-height: 250px;
}
.bannershop {
  background-color: #ccc;
  min-height: 350px;
}
