.b-act {
  padding: 10px 10px;
  background-color: #ff6a00;
  color: #fff;
  border-radius: 30px;
  display: block;
}

.b-act-s {
  padding: 10px 10px;
  border: solid #ff6a00 1px;
  color: #ff6a00;
  border-radius: 30px;
  display: block;
  text-align: center;
  display: block;
}
